*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var( --main-color);
}
:root{
    --main-color:#FFFFFF;
    --hover-color:#F2F2F2;
    --text-color:#000000;

    --main-color-dark:#292929;
    --hover-color-dark:#3E3E3E;
    --text-color-dark:#FFFFFF;

    --accent-color:#155DA4;
    --raleway:'Raleway', sans-serif;
}